<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getAge()}">VALUE</p>
<p th:text="${'Email: ' + person.getEmail()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<div th:if="${books}">
    <hr/>

    <b>Books</b>

    <table>
        <tr th:each="book: ${books}">
            <td th:text="${book.title + ', ' + book.author + ', ' + book.year}"
                th:style="${book.isOverdue() == true ? 'color: red;' : ''}"></td>
        </tr>
    </table>

    <hr/>
</div>

<div th:if="${nothing}">
    <hr/>
    <p>Person didn't take any books at this moment</p>
    <hr/>
</div>

</body>
</html>